<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试平台</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">测试平台</h2>
            <a href="#" th:href="@{/admin/index}" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页</a>
            <a href="#" th:href="@{/admin/singlequery}" class="m-item item m-mobile-hide"><i class=" idea icon"></i>单题搜索</a>
            <a href="#" th:href="@{/admin/singlequestiontest}" class="m-item item m-mobile-hide"><i class=" idea icon"></i>单题测试</a>
            <a href="#" th:href="@{/admin/query}" class="m-item item m-mobile-hide"><i class=" tags icon"></i>套题搜索</a>
            <a href="#" th:href="@{/admin/test}" class="m-item item m-mobile-hide"><i class=" clone icon"></i>套题测试</a>
            <a href="#" th:href="@{/admin/rule}" class="m-item item m-mobile-hide"><i class=" info icon"></i>定理制定</a>
            <a href="#" th:href="@{/admin/mark}" class="m-item item m-mobile-hide"><i class=" tags icon"></i>关系标注</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text" th:text="${username}">
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<br>
<br>
<div class="m-container-small">
    <div class="ui container">
        <h3>整句：</h3>
        <h4 th:text="${markText}"></h4>
    </div>
</div>
<br>
<br>
<div class="m-container-small">
    <div class="ui container">
        <h3>待标注的语句：</h3>
        <h4 th:text="${sentenceEntity.text}"></h4>
    </div>
</div>
<br>
<br>
<div class="m-container-small">
    <div class="ui container">
        <form name="entity_form" method="post" th:action="@{/admin/selectentity}">
            <div class="ui secondary segment form">
                <br>
                <div class="ui container">
                    <h3>选择实体对以及关系</h3>
                    <div class="fields">
                        <div class="field">
                            <label class="control-label col-lg-4"></label>
                            <select id="entity1" name="entity1" placeholder="请选择实体1" style="width: 250px;" onchange="entitySelect()">
                                <option value="">请选择实体1</option>
                                <option th:each="entity:${sentenceEntity.entityStrings}" th:value="${entity.index}+':'+${entity.entityString}" th:text="${entity.entityString}">
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label class="control-label col-lg-4"></label>
                            <select id="entity2" name="entity2" placeholder="请选择实体2" style="width: 250px;" onchange="entitySelect()">
                                <option value="">请选择实体2</option>
                                <option th:each="entity:${sentenceEntity.entityStrings}" th:value="${entity.index}+':'+${entity.entityString}" th:text="${entity.entityString}">
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label class="control-label col-lg-4"></label>
                            <select id="relation" name="relation" placeholder="请选择关系" style="width: 250px;" onchange="relationSelect()">
                                <option value="">请选择关系</option>
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label class="control-label col-lg-4"></label>
                            <select id="property" name="property" placeholder="请选择关系的属性" style="width: 250px;">

                            </select>
                        </div>
                        <div class="field">
                            <label class="control-label col-lg-4"></label>
                            <select id="entity3" name="entity3" placeholder="请选择实体3" style="width: 250px;">
                                <option value="">请选择实体3</option>
                                <option th:each="entity:${sentenceEntity.entityStrings}" th:value="${entity.index}+':'+${entity.entityString}" th:text="${entity.entityString}">
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label class="control-label col-lg-4"></label>
                            <select id="asking" name="asking" placeholder="请选择asking类型" style="width: 250px;">
                                <option value="">请选择asking类型</option>
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <input type="hidden" id="commontext" name="commontext" th:value="${sentenceEntity.text}">
                <button class="ui mini right attached teal basic submit button" id="btn" name="btn" type="submit" onclick="alert('标注完成，请等待')">选择完毕
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    var res;
    function entitySelect() {
        var e1 = $("select[name=entity1]").val();
        var e2 = $("select[name=entity2]").val();
        if(e1==""){
            return;
        }
        if(e2 ==""){
            return;
        }
        $("#relation").empty();
        $("#relation").append("<option value='null'>请选择实体间的关系</option>");
        $.ajax(
            {
                cache:true,
                type:"GET",
                url:"/admin/getRelation",
                data:{"entity1":e1,
                        "entity2":e2},
                datatype: "json",
                success:function (data) {
                    res = data.properties;
                    $.each(res, function (index, re) {
                        $("#relation").append(  //此处向select中循环绑定数据
                            "<option value=" + index + ">" + index + "</option>");
                    });
                }
            }
        );
    }
    function relationSelect() {
        var rel = $("select[name=relation]").val();
        var properties = res[rel];
        $("#property").empty();
        var index=0;
        $("#property").append("<option value='null'>请选择关系的属性</option>");
        $.each(properties, function (key,property) {
            if(property!=properties.name){
                $("#property").append(  //此处向select中循环绑定数据
                    "<option value=" + index + ">" + key+"->"+property + "</option>");
                index=index+1;
            }
        });
        var e1 = $("select[name=entity1]").val();
        var e2 = $("select[name=entity2]").val();
        $("#asking").empty();
        $("#asking").append("<option value='null'>请选择asking类型</option>");
        $("#asking").append(
            "<option value=" + 0 + ">" + "不是问题三元组，没有要求的部分" + "</option>",
            "<option value=" + 1 + ">" + "求" + e1 + "</option>",
            "<option value=" + 2 + ">" + "求" + e2 + "</option>",
            "<option value=" + 3 + ">" + "求" + rel + "</option>",
            "<option value=" + 4 + ">" + "求" + e1 + "和" + e2 + "</option>",
            "<option value=" + 5 + ">" + "求" + e1 + "和" + rel + "关系" + "</option>",
            "<option value=" + 6 + ">" + "求" + e2 + "和"+ rel + "关系"+ "</option>",
            "<option value=" + 7 + ">" + "求" + e1 + "、" + e2 + "和" + rel +"关系" + "</option>",
            "<option value=" + 8 + ">" + "求该关系下的所有属性" + "</option>"
        )
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</body>
</html>